html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Playfair Display',
  sans-serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 901px;
  margin: 0 auto;
}
.header-nav {
  padding: 76px 0;
}

.header-nav-menu {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-nav-menu-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
  }

  .header-nav-menu-item li:not(:last-child){
  margin-right: 100px;
  }

.header-nav-menu a {
  text-transform: uppercase;
  text-decoration: none;
  }

  .header-nav-menu a:hover,
  .header-nav-menu a:focus {
    color: #f00a0a;
  }

.header-nav-menu-item-lifestyle {
  color: #03a9f4;
}

.section-item {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

p{
  font-size: 14px;
}
p.logo {
  font-family: 'Ubuntu Condensed',
sans-serif;
color: #b4ad9e;
text-transform: uppercase;
font-size: 14px;
line-height: 17px;
}

.lifestyle-list,
.photodiary-list {
  display: inline-block;
  width: 421px;
  margin-right: 61px;
}

.lifestyle-list,
.photodiary-list:nth-child(1n){
  margin-right: 0;
}


.lifestyle-list h3,
.photodiary-list h3 {
  font-size: 30px;
  line-height: 36px;
}

button {
  margin-right: 100px;
}
