
body {
<<<<<<< HEAD
  font-family: 'Playfair Display',
  serif;
=======
  font-family: "Playfair Display", sans-serif;
>>>>>>> 8fa11cf019f66bca887aab07768d9a50d744c0bf
  font-size: 16px;
  } 

ul {
  list-style: none;
  }

<<<<<<< HEAD
.main-menu-link:hover {
  color: red;
  }
  h1 {
    color: blue;
=======
  .main-menu-link:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
  }
    
  div .lifestyle-wrapper {
  height: 200 px;
  width: 200 px;
  background-color: rgb(255, 0, 0);
>>>>>>> 8fa11cf019f66bca887aab07768d9a50d744c0bf
  }
    