
body {
  font-family: "Playfair Display", "Roboto",
  sans-serif;
  font-size: 16px;
  } 

ul {
  list-style: none;
  
  }

.header-nav-menu-item a:hover {
  color: #ff0000;
  }

  .main-lifestyle {
    width: 470px;
  }
  
