
body {
  font-family: "Playfair Display", "Roboto",
  sans-serif;
  font-size: 16px;
  } 

ul {
  list-style: none;
  
  }

.main-menu-link:hover {
  color: rgb(255, 0, 0);
  }

  .main-lifestyle {
    width: 470px;
  }
  
