html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter',
  sans-serif;
  font-size: 14px;
  line-height: 26px;
  counter-reset: l;
}

  .container {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

h1, h2 {
 /*  margin: 0 auto; */
  text-align: center;
  margin-bottom: 40px;
  }

h1 {
  padding: 30px;
  background-image: linear-gradient(to right, #0B486B, #F56217);
}

.exercise {
  list-style: none;
  font-weight: 600;
  padding: 0;
  margin-left: 150px;
  }

.exercise li {
  float: left;
  margin-bottom: 30px;
  }

.exercise a {
  float:right;
  text-decoration: none;
  text-transform: uppercase;
  color: #756e6e;
  margin-right: 50px;
  
}

.exercise a:hover {
  color: aqua;
  }

  .exercise-list a:last-child(6) {
    margin-right: 0;
  }

.elements-list {
  float: left;
  list-style: none;
  }

.elements-list-item {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  color: #0E1116;
  text-align: left;
}

.elements-list-item:nth-child(3n -2) {/* 1+3 */
  background-color: #88292F;
}

.elements-list-item:nth-child(3n -4) {/* 2+3 */
  background-color: #5DB7DE;
} 

.elements-list-item:nth-child(3n -6) {/* 3+3 */
  background-color:#0D5D56 ;
}

.symbol-list {
  float: left;
  list-style: none;
}

.symbol-list-item {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.symbol::before {
  content: "\2192";
}

.counter-list {
  list-style: none;
  float: left;
  }

.counter-list-item {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: left;
  background-color: aqua;
  }

  p {
  counter-increment: l;
  display: block;
  }

  p::before {
    content: counter(l, lower-roman);
    margin-right: 1rem;
    text-transform: uppercase;
  }
